
/*font-family: 'Roboto Slab', serif;
font-family: 'Shrikhand', cursive;
*/
body
{
	font-family: 'Roboto Slab', serif;
	margin: inherit;
}

main
{
	font-family: 'Roboto Slab', serif;
	background-color:  #f7f7f7;
	padding: 20px 50px;
	text-align: center;
}

/*tete de page*/
.imageSite
{
	width: 100%;
	object-fit:initial;
	text-align: center;
}

.titre
{
	height: 60px;
	width: 100%;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	font-size: 30px;
}

h1
{
	font-family: 'Roboto Slab', serif;
	font-size: 1.3em;
	padding-left: 20px;
}

p
{
	color: #9CA6A6;
}

a
{
	text-decoration: none;
}

.bttnExplorer
{
	height: 30px;
	color: white;
	background: rgb(147,86,220);
	background: linear-gradient(356deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 80%);
	padding: 10px;
	border-radius: 30px;
	box-shadow:0 2px 2px 0 #9CA6A6 ;
}

header
{
	height: 70px;
}

input
{
	border: none;
	background-color:#f7f7f7;
}

/* fonctionnement*/
section
{
	padding-bottom: 20px;
}

.numero
{
	width: 20px;
	background-color:#9356DC;
	color: white;
	border-radius: 15px;
	text-align: center;
	padding: 3px;
	position: relative;
	right: 30px;
}

.bttnF
{
	display: flex;
	padding: 20px;
	background-color:#f7f7f7 ;
	border-radius: 10px;
	margin: 20px 25px;
	box-shadow: 0 2px 2px 1px  #9CA6A6;
}

.bttnF i:hover
{
	color: #9356DC;
}

.multiBttn
{
	display: flex;
	flex-direction: column;
}

i
{
	width: 20px;
	height: 20px;
	color: gray;
	margin-left: 10px;
	margin-right: 10px;
}

.restaurants
{
	background-color:  #f7f7f7;
	height: 1050px;
}

.vignettes
{
	width: 90%;
	height: 230px;
	background-color:white ;
	margin: 15px 20px;
	border-radius: 15px;
	box-shadow:0 2px 2px 0 #9CA6A6 ;
}

.photos
{
	display: block;
	width: 100%;
	height: 150px;
	position: relative;
}

.nouveau
{
	width: 80px;
	height: 30px;
	color: #1b6150;
	background-color:#99E2D0;
	position: absolute;
	left: 250px;
	top: 15px;
	text-align: center;
	padding-top: 3px;
}

.fa-heart
{
	background-color: linear-gradient(356deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 80%);
}

.fa-heart:hover
 {
	 color: #9356DC;

 }

.infoResto
{
	display: flex;
	height: 50px;
	justify-content: space-around;
	padding-top: 20px;
	color: initial;
}

img
{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.noms
{
	font-size: 1.1em;
	font-weight: bold;
}

.lieu
{
	font-size: 0.9em;
	font-weight: bold;
}

/*footer*/
footer
{
	height: 180px;
	background-color:#353535 ;
	color: #f7f7f7;
	padding: 15px ;
}

.pied
{
	font-family: 'Shrikhand', cursive;
	padding-bottom: 15px;
}

.fa-utensils
{
	color: #f7f7f7;
}

.fa-hands-helping
{
	color: #f7f7f7;
	;
}

.contact
{
	text-decoration: initial;
}

/*menu*/
.nomSiteMenu
{
	display: flex;
	align-items: baseline;
}

.contenuMenu
{
	padding: 20px;
	background-color:  #f7f7f7;
}

.plat
{font-weight: bold;
	font-size: 1.27em;

}

.description
{
	font-size: 1.2em;

}

.carteImg
{
	border-radius: 15px 15px 0 0;
	height: 150px;
}

.titreFavori
{
	height: 60px;
	width: 100%;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	font-size: 30px;
	display: flex;
	align-items: baseline;
}

.prix
{font-weight: bold;
	display: flex;
align-items: flex-end;

}

h2
{
	font-size: 0.8em;
}

.vignette
{
	width: 95%;
	background-color:white ;
	margin: 15px 20px;
	border-radius: 15px;
	box-shadow:0 2px 2px 0 #9CA6A6 ;
	display: flex;
	padding: 3px;
}

figcaption
{width: 80%;
}


@media all and (min-width:990px)
{
	.multiBttn
	{
		flex-direction: row;
	}
}
