
/*font-family: 'Roboto Slab', serif;
font-family: 'Shrikhand', cursive;
*/
body
{
	font-family: 'Roboto', serif;
	margin: 0 auto;

}
.max
{max-width: 1280px;
	margin: 0 auto;


}

main
{
	background-color:  #f7f7f7;
	padding: 20px 50px;
	text-align: center;
}

/*tete de page*/
.imageSite
{
	width: 100%;
	object-fit:initial;
	text-align: center;
}

.titre
{
	height: 60px;
	width: 100%;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	font-size: 30px;
}

.boiteRech
{
	display: block;
	background-color:#e0e0e0;
	width: 100%;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	box-shadow: inset 0px 7px 3px -4px #707070;
}

input.recherche
{
	color: #757575;
	background-color: inherit;
}

h1
{
	font-size: 1.3em;
	padding-left: 20px;
}

p
{
	color: #9CA6A6;
}

a
{
	text-decoration: none;
}

.bttnExplorer
{
	height: 30px;
	color: white;
	background: rgb(147,86,220);
	background: linear-gradient(356deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 80%);
	padding: 10px;
	border-radius: 30px;
	box-shadow:0 2px 2px 0 #9CA6A6 ;
}

header
{
	height: 70px;
}

input
{
	border: none;
	background-color:#f7f7f7;
}

/* fonctionnement*/
section
{
	padding-bottom: 20px;
}

.numero
{
	width: 20px;
	background-color:#9356DC;
	color: white;
	border-radius: 15px;
	text-align: center;
	padding: 3px;
	position: relative;
	right: 30px;
}

.bttnF
{
	display: flex;
	padding: 20px;
	background-color:#f7f7f7 ;
	border-radius: 10px;
	margin: 20px 25px;
	box-shadow: 0 2px 2px 1px  #9CA6A6;
}

.bttnF i:hover
{
	color: #9356DC;
}

.multiBttn
{
	display: flex;
	flex-direction: column;
}

i
{
	width: 20px;
	height: 20px;
	color: gray;
	margin-left: 10px;
	margin-right: 10px;
}

.restaurants
{
	background-color:  #f7f7f7;
	height: auto;
}

.vignettes
{
	width: 90%;
	height: 230px;
	background-color:white ;
	margin: 15px 20px;
	border-radius: 15px;
	box-shadow:0 2px 2px 0 #9CA6A6 ;
	position: relative;
}

.photos
{
	display: block;
	width: 100%;
}

.nouveau
{
	width: 80px;
	height: 30px;
	color: #1b6150;
	background-color:#99E2D0;
	position: absolute;
	left: 70%;
	top: 15px;
	text-align: center;
	padding-top: 6px;
}

.coeur
{
	position: relative;
}

.coeurVide
{
	color:violet;
}

.coeurPlein
{position: absolute;
	color: transparent;
	
}

.coeurPlein:hover
{
	transition: background-color 300ms;
	background-image: linear-gradient(#9356DC, #FF79DA);
	-webkit-background-clip: text;
	
}

.fa-heart
{
	font-size: 15px;
}

.infoResto
{
	display: flex;
	height: 50px;
	justify-content: space-between;
	padding-top: 35px;
	padding-left: 20px;
	color: initial;
}

img
{
	width: 100%;
	height: 250px;
	object-fit: cover;
	margin-bottom: -25px;
}

.noms
{
	font-size: 1.1em;
	font-weight: bold;
}

.lieu
{
	font-size: 0.9em;
	font-weight: bold;
}

/*footer*/
footer
{
	height: 180px;
	background-color:#353535 ;
	color: #f7f7f7;
	padding: 15px ;
}

.pied
{
	font-family: 'Shrikhand', cursive;
	padding-bottom: 15px;
}

.fa-utensils
{
	color: #f7f7f7;
}

.fa-hands-helping
{
	color: #f7f7f7;
	;
}

.contact
{
	color: white;
}

/*menu*/
.nomSiteMenu
{
	display: flex;
	align-items: baseline;
}

.contenuMenu
{
	padding: 20px;
	background-color:#eceff1;
	border-radius:15px 15px 0 0;
	position: relative;
}

.plat
{
	font-weight: bold;
	font-size: 1.27em;
}

.description
{
	font-size: 1.2em;
}

.carteImg
{
	border-radius: 15px 15px 0 0;
	height: 150px;
}

.titreFavori
{
	height: 60px;
	width: 100%;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	font-size: 30px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.prix
{
	font-weight: bold;
	display: flex;
	align-items: flex-end;
}

h2
{
	font-size: 0.8em;
}

h3
{
	margin-bottom: 0;
}

.souligne
{
	background-color: #99E2D0;
	width: 50px;
	height: 4px;
}

.vignette
{
	width: 95%;
	background-color:white ;
	margin: 15px 0 20px 0;
	border-radius: 15px;
	box-shadow:0 2px 2px 0 #9CA6A6 ;
	display: flex;
	padding: 10px;

	
}



.coeurPleinMenu

{position: absolute;
	color: transparent;
	top: 19px;
	background-image: linear-gradient(#9356DC, #FF79DA);
	-webkit-background-clip: text;


}

figcaption
{
	width: 80%;
}

.zoneCommande
{
	text-align: center;
}

@media all and (min-width:990px)
{
	.multiBttn
	{
		flex-direction: row;
		justify-content: center;
	}

	.vignettes
	{
		width: 45%;
	}

	/*menus*/
	.vignette
	{
		width: 60%;
		text-align: center;
	}

	.contenuMenu
	{
		padding: 0 auto;
	}

	.lotResto
	{
		display: flex;
		flex-wrap: wrap;
		justify-content:center
	}

	.toutMenu
	{
		display: flex;
		justify-content: space-around
	}

	.sousMenu
	{
		background: white;
		margin-right: 10px;
	}

	.vignette
	{
		box-shadow: inherit;
	}

	.zoneCommande
	{
		padding-top: 40px;
		height: 60px;
	}
	
}